*{
    margin:0;
    font-family: arial;
     border: border-box; 
}
body{
    background-color: aqua;
}

.navbar{
    height:60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:40px ;
    width: 100%;
    
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}

/*box2*/
.nav-add{
    
    align-items: center;
}
.hello{
    font-size: .7rem;
    color: #cccccc;
    margin-left: 15px;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.add{
    color: #ffffff;
    font-size: .85rem;
    font-weight: bold;
    margin-left: 3px;
}

/* box3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 550px;
    height: 40px;
    background-color: pink;
    border-radius: 4px;
}
.nav-search:hover{
    border:2px solid orange;
}
.search-select{
   color:#0f1111;
   background-color:aqua;
   text-align: center;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}
.search-input{
   color:#0f1111;  
   width:100%;
   font-size: 1rem;
   border: none;

  
}
.search-icon{
    width: 50px;
    background-color: rgb(255, 217, 0);
    color: #0f1111;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.2rem;
}

/* box4 */

span{
    font-size: 0.7rem;

}
.nav-down{
    font-size: .85rem;
    font-weight: bold;
}



/* box5 */


/* box6 */
.nav-cart i{
    font-size: 30px;
    
}
.nav-cart{
    font-size: .85rem;
    font-we
    ight: bold;
}

/** panel**/

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.panel-all{
    margin-left: 0;

}
.panel-ops{
    margin-left: 20px;
    width: 80%;
    font-size: .85rem;
}
a{
    margin-left: 15px;
    color: white;
    text-decoration: none;
}
.panel-deals{
    font-size: 1rem;
    font-weight: bold;
}

/**hero section**/

.hero-section{
    height: 500px;
    background-image: url("images/herosection.jpg");
    background-size: cover;
   
}
.box{
    
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 300px;
}

/* box1 */

.box1{
    background-color: white;
    height: 300px;
    width: 20%;
    /* border: 2px solid black; */
}
.bxup{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    
}
.bxdown{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    
}
.bx-img{
    height: 100px;
    width: 100px;
    /* border: 2px solid black; */
    background-size: cover;
}

/* box2 */
.box2{
    background-color: white;
    height: 300px;
    width: 20%;
    /* border: 2px solid black; */
    display:block;
    
}
.box-img{
    height: 250px;
    width: 80%;
    background-size: cover;
    margin-left: 20px;
    
}
.box3{
    background-color: white;
    height: 300px;
    width: 20%;
    /* border: 2px solid black; */
}
.box4{
    background-color: white;
    height: 300px;
    width: 20%;
    /* border: 2px solid black; */
}
.sign{
    height: 30px;
    width: 80%;
    background-color: rgb(255, 217, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:20px;
    left: 20px;
    border-radius: 10px;
}
.box-image{
    height: 200px;
    width: 100%;
    background-size: cover;
    position: relative;
    top: 25px;

}

/**boxOne**/

.boxOne{

    position: relative;
    top: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;

}
.boxe{
    height:300px;
    background-color: white;
    width: 20%;
    /* border:2px solid black */
}
h3{
    margin:10px;

}
h4{
    margin:10px;
}
.boxe-img{
    height: 220px;
    width: 100%;
    background-size: cover;
}

/**footer**/
.foot-panel1{
    position: absolute;
    top: 1100px;
    background-color: #37475a;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    height: 300px;
    position: relative;
    top:430px;
    background-color: #222f3d;
    display: flex;
     justify-content: space-evenly; 
}
ul p{
    color:white;
}
ul a{
    display: block;
    font-size: .85rem;
    margin-top: 10px;
    color:#dddddd ;
}
ul{
    margin-top: 20px;
}

/* foot panel3 */

.foot-panel3{
    position: absolute;
    top: 1449px; ;
    height: 50px;
    width: 100%;
    background-color:#222f3d; ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 40px;
    width: 130px;
}
/* foot panel4 */

.foot-panel4{
    background-color: #131a22;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 1499px;
    font-size: .85rem;
    text-align: center;
    padding-top: 20px;
}
.copyright{
    padding-top: 5px;
}

